@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    box-sizing: border-box;
}

@layer base {
    html {
        font-family: PTSans, system-ui, sans-serif;
        overflow-x: hidden;
    }
}

/* LAYOUT */

#app {
    min-height: 100vh;
    width: 100vw;
}

#logo {
    background: white;
    @media screen and (min-width: 1024px) {
        position: relative;
        top: 20px;
        left: 50px;
        @apply shadow-xl;
    }
}

section {
    min-height: 80vh;
}

footer {
    height: 20vh;
}

/* TITLES */

h1 {
    @apply text-5xl font-bold uppercase text-white font-serif;
}

h2 {
    @apply text-4xl text-main-green uppercase font-bold  font-serif;
    margin-bottom: 10px;
}

.subtitle {
    @apply text-main-green italic grid place-content-center;
}

.underlined-title {
    @apply mb-6 font-serif text-xl;
    position: relative;
    &:after {
        @apply bg-main-green;
        position: absolute;
        content: "";
        top: 30px;
        left: 0;
        height: 3px;
        width: 30px;
        background: #a1bf43;
    }
}

p {
    @apply text-light-grey;
    margin: 0 0 10px;
    text-align: justify;
}

li,
a {
    @apply transition ease-in-out;
}

.green-pill-button {
    @apply rounded-full text-white p-2 px-4 bg-main-green hover:bg-white hover:text-main-green hover:border hover:border-main-green;
}

.transparent-pill-button {
    @apply rounded-full p-2 px-4 bg-transparent border border-white border-2 text-white;
}

th,
td {
    @apply border border-solid text-light-grey border-main-green p-2;
}

.tag {
    @apply uppercase text-sm hover:bg-main-green hover:text-white font-bold font-serif border border-lighter-grey hover:border-main-green;
    padding: 10px 15px;
    color: #000;
    border-radius: 7px;
    transition: color 0.25s ease-out;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    background: #a1bf43;
}
::-webkit-scrollbar-thumb {
    background: white;
    @apply border border-solid border-2 border-main-green;
}
